<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus'></i>
        <span class="logo_name">Code Runners</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/admin/blog">
                <i class='bx bx-pencil'></i>
                <span class="links_name">Blogs</span>
            </a>
        </li>
        <li>
            <a href="/admin/new-post">
                <i class='bx bx-message-add'></i>
                <span class="links_name">New Post</span>
            </a>
        </li>
        <li>
            <a href="/admin/comment">
                <i class='bx bx-message'></i>
                <span class="links_name">Comments</span>
            </a>
        </li>
        <li>
            <a href="/admin/affiliate">
                <i class='bx bx-shopping-bag'></i>
                <span class="links_name">Affiliate</span>
            </a>
        </li>
        <!-- <li>
            <a href="#">
                <i class='bx bx-user'></i>
                <span class="links_name">Team</span>
            </a>
        </li> -->
        <!-- <li>
        <a href="#">
            <i class='bx bx-heart'></i>
            <span class="links_name">Most Viewed</span>
        </a>
    </li> -->
        <!-- <li>
        <a href="#">
            <i class='bx bx-pie-chart-alt-2'></i>
            <span class="links_name">Analytics</span>
        </a>
    </li> -->
        <!-- <li>
        <a href="#">
            <i class='bx bx-cog'></i>
            <span class="links_name">Setting</span>
        </a>
    </li> -->
        <li class="log_out">
            <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="links_name">
                    <form action="/admin/logout?_method=DELETE" method="POST" class="logout-form">
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                </span>
            </a>
        </li>
    </ul>
</div>