<%- include('./partials/header.ejs') %>
    <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/about.css">

    <title>About Me - Code Runners</title>
    </head>

    <body>

        <%- include("./partials/nav") %>

            <div class="about-content-container">
                <div class="my-img"><img src="images/Shivam.jpg" alt="My Photo" id="my-img"></div>
                <div class="about-main-container">
                    <h1 class="about-me">ABOUT ME</h1>
                    <div class="about-content">
                        <p>
                            My name is Shivam Bhadani. I cracked IIT JEE 2020 and got into IIT Kanpur. In my journey I
                            faced
                            many problems and done many mistakes and through my website I want to share valuable
                            knowledge
                            so
                            that you should not repeat those mistakes and with correct strategy you can also crack this
                            exam
                            with top rank.
                        </p>
                        <p>
                            I am an enthusiastic programmer and from this website I also want to share about my
                            programming
                            knowledge. If you want to start your career in software field or if you are currently
                            working in
                            software industry then this website is very helpful for you. You can check my various posts
                            related
                            to technology.
                        </p>
                        <p>
                            I post various kinds of stuff related to Programming Languages, Web Development, Android
                            Development.
                        </p>
                    </div>
                </div>
            </div>

            <div class="about-comment-container">
                <div class="about-comment-bg">
                    <h1>RECENT COMMENTS</h1>
                    <p>These are some honest reviews of the peoples who visited this website recently.</p>
                </div>
                <div class="about-comment-content-wrapper">
                    <div class="about-comment-content-container">
                        <p class="about-comment-person">Shubham Goyal</p>
                        <q>I followed your strategies and I am getting very good marks in my JEE Mock test. Thank you
                            very
                            much.</q>
                    </div>
                    <div class="about-comment-content-container">
                        <p class="about-comment-person">Aryan Malhotra</p>
                        <q>Thank you so much for your help. With your recommended books and plan I successfully scored
                            99.85
                            percentile in this year JEE Main.</q>
                    </div>
                    <div class="about-comment-content-container">
                        <p class="about-comment-person">Aman Agarwal</p>
                        <q>I was a complete beginner and I was struggling in web development. I searched many website
                            but
                            your
                            blog gave me the right path and today I have a website complete working and I am very happy.
                            Would
                            highly recommend this site! Thanks...</q>
                    </div>
                </div>
            </div>


            <%- include('./partials/footer') %>


                <script src="js/navbar.js"></script>
    </body>

    </html>