*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog-container{
    padding-top: 80px;
    margin-left: 24px;
    margin-right: 24px;
}

.blog-title{
    margin-bottom: 15px;
}

.blog-title a{
    font-weight: 500;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}
.blog-title a:hover{
    color: rgb(110, 110, 218);
}
.individual-blog-container{
    background-color: #fff;
    margin-top: 20px;
    padding: 30px;
}
.btn-edit a, .btn-delete a{
    text-decoration: none;
    color: #fff;
}
.btn{
    padding: 4px 10px;
    background-color: #2287f3;
    border: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1.2px;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-right: 18px;
}
.btn:hover{
    cursor: pointer;
}

.btn-delete{
    background-color: rgb(245, 71, 71);
}

.btn-delete:hover{
    background-color: rgb(192, 11, 11);
}

.btn-edit{
    background-color: rgb(241, 162, 13);
}
.btn-edit:hover{
    background-color: rgb(212, 140, 7);
}
.delete-blog-form{
    display: inline;
}